/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.6%;
}
header {
  width: 90%;
  height: 20vh;
  margin-left: 5%;
  margin-right: 5%;
  line-height: 5rem;
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
@media (max-width: 800px) {
  header {
    height: 25vh;
  }
}
@media (max-width: 500px) {
  header {
    border: 2px black solid;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: centern;
  }
}
header nav {
  width: 40%;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  header nav {
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: centern;
  }
}
header nav a {
  color: pink;
  text-transform: uppercase;
  text-decoration: none;
}
header div {
  width: 40%;
}
header h1 {
  color: pink;
  text-transform: uppercase;
  font-size: 5rem;
}
@media (max-width: 800px) {
  header h1 {
    padding-top: 5%;
    font-size: 4rem;
  }
}
@media (max-width: 500px) {
  header h1 {
    padding-top: 0;
    font-size: 2.5rem;
  }
}
header h2 {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 800px) {
  header h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 500px) {
  header h2 {
    width: 25rem;
    font-size: 1.5rem;
  }
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 180vh;
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: centern;
  }
}
.left-content {
  text-align: center;
  width: 35%;
  margin-top: 3%;
  height: 100%;
  background-color: pink;
}
@media (max-width: 800px) {
  .left-content {
    margin-top: -23%;
  }
}
@media (max-width: 500px) {
  .left-content {
    margin-top: 5%;
    width: 100%;
  }
}
.left-content .photo {
  width: 100%;
  padding-bottom: 5%;
}
.left-content .photo img {
  width: 80%;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
.left-content .text-content {
  padding-left: 8%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: centern;
  justify-content: space-between;
}
.left-content .text-content h2 {
  font-size: 3rem;
  color: steelblue;
  text-transform: uppercase;
  width: 80%;
  border-bottom: 2px solid steelblue;
  padding-bottom: 2%;
}
@media (max-width: 800px) {
  .left-content .text-content h2 {
    font-size: 2rem;
  }
}
.left-content .text-content p {
  width: 80%;
  padding-top: 2%;
  color: steelblue;
  font-size: 2rem;
  line-height: 2rem;
}
#languageList li {
  padding-top: 1%;
  padding-right: 15%;
  color: steelblue;
  font-size: 2rem;
}
.right-content {
  margin-top: 3%;
  margin-left: 3%;
  width: 50%;
  height: 112vh;
  line-height: 3rem;
}
@media (max-width: 800px) {
  .right-content {
    margin-top: 2%;
  }
}
@media (max-width: 500px) {
  .right-content {
    margin-top: 5%;
    margin-left: 0;
    width: 100%;
    background-color: pink;
  }
}
.right-content h2 {
  width: 40%;
  font-size: 3.5rem;
  color: steelblue;
  margin-bottom: 3%;
  text-transform: capitalize;
  background-color: pink;
}
@media (max-width: 800px) {
  .right-content h2 {
    width: 70%;
    font-size: 2.5rem;
  }
}
@media (max-width: 500px) {
  .right-content h2 {
    margin-top: 10%;
    margin-left: 0;
    width: 50%;
    background-color: steelblue;
    color: pink;
  }
}
.right-content h3 {
  font-size: 2.5rem;
  color: steelblue;
  font-weight: bold;
  text-transform: capitalize;
}
@media (max-width: 800px) {
  .right-content h3 {
    font-size: 2rem;
  }
}
.right-content P {
  font-size: 2.5rem;
  color: steelblue;
}
.right-content .projectSum {
  margin-bottom: 5%;
}
footer {
  background-color: steelblue;
  width: 90%;
  height: 3vh;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}
